@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}
.heading_container h2 span {
  color: #00bbf0;
}
.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}
.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position:relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}
.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}
.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}
.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  position:relative;
  z-index: 3;
  background-color: #fff;
  height: fit-content;
  width: 100%;
}

.header_section .container-fluid {
  padding: 15px 25px;
  background-color: #fff;
  max-width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  width: 200px;
  height: auto;

}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

 
.custom_nav-container {
  padding: 0;
}
.custom_nav-container .navbar-nav {
  margin-left: auto;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  font-family: 'Bungee inline';
  padding: 5px 20px;
  color: #657456 ;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #89af60;
}
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #611059;
  
}


.custom_nav-container .navbar-toggler {
  outline: none;
  
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #521C4D;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}
  

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #340E30;
  top: -10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 100;
  transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span {
  background-color: #fff;
  z-index: 100;
  transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span::before, .custom_nav-container .navbar-toggler[aria-expanded=true] span::after {
  background-color: #fff;
  transform: rotate(90deg);
  top: 0;
  z-index: 100;
}

/* DROPDOWN EM PROGRAMAS */

.dropdown-menu {
  background-color: #657456;
}

.dropdown-item {
  font-size: 18px;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #89af60;
  color: #fff;
}


/*end header section*/

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 0px 0px 0px;
}
.slider_section .row {
  align-items: center;
  height: 100%;
}
.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}
.slider_section .detail-box {
  color: #00204a;
}

.carousel-item{
  height: 700px;
}

.carousel-item .container{
  height: 100%;
}

.carousel-item img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg_slide_filter{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider_section .detail-box h1 {
  font-family: "Allan";
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff;
}

.slider_section .detail-box span {
  font-weight: bold;
  font-size: 80px;
}
.slider_section .detail-box p {
  color: #fefefe;
  font-size: 20px;
}
.slider_section .detail-box .btn-box {
  border: 20px;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}
.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}
.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #521C4D;
  color: #ffffff;
  border-radius: 15px;
  transition: all 0.3s;
  border: none;
  font-family: "Bungee inline";
}
.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #340E30;
}
.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}
.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}
.slider_section .img-box {
  margin: 45px 0;
}

/*  ANIMAÇÃO DE IMAGEM PRA CIMA E PRA BAIXO
.slider_section .img-box img {
  width: 100%;
  animation: upDown 5s infinite;
}
*/


@keyframes upDown {
  0% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(-45px);
  }
}
.slider_section .carousel-indicators {
align-items: center;
z-index: 0;
}
.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}
.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #521C4D;
}


/********************************************************************/
#noticias{
 background-image: url("../images/fundo_teste.png");
 min-height: 100vh;
 padding: 50px;
}

#noticias .container > h2{
  font-family: "Allan";
  font-weight: bold;
  font-size: 90px;
  color: #340E30;
  text-align: center;
}

#noticias .noticias-container{
  height: 600px;
  display: flex;
  gap: 20px;
}

#noticias .container .main-noticia, #noticias .container .card-noticia{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#noticias .container img{
  transition: 0.2s all ease-in-out;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#noticias .container img:hover{
  transform: scale(1.1);
}

#noticias .aside-noticia{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#noticias .card-noticia-text{
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #fff;
}

#noticias .card-noticia-text h3{
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 2px 4px #000000;
}


/*! ****************************************************************/
  #about_section{
    background-image: url("../images/fundo_teste.png");
  }

   #about_section .container h2{
    text-align: center;
    font-family: 'Allan';
    font-weight: bold;
    font-size: 45px;
    color: #340E30;
   }

  #about_section .container h2 span{
    color: #340E30;
    font-size: 90px;
  }

   .content_container{
    display: flex; 
    align-items: center;
    gap: 20px;
   }

   .content_container p{
    margin-bottom: 50px;
    text-align:justify;
   }

   #about_section .text_container a{
    font-family: 'Bungee inline';
    color: #fefefe;
    border: none;
    border-radius: 15px;
    background-color:#521C4D;
    transition: all 0.3s;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 0px auto;
   }

   #about_section .text_container a:hover{
    background-color: #340E30;

   }

   .content_container img{
    object-fit: cover;
    width: 100%;
   }

   #about_section .img_container{
    width: 60%;
   }

   #about_section .text_container{
    font-size: 20px;
    width: 40%;
   }
   


/* ! ****************************************************/
#amazonia_section{
  min-height: 100vh;
  position: relative;
  background-image: url("../images/fundo_teste.png");
}

#amazonia_section .amazonia_section_container h2{
  font-family: "Allan";
  font-weight: bold;
  font-size: 80px;
  color: #340E30;
  text-align: center;
}


#amazonia_section .amazonia_section_container{
  position: absolute;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#amazonia_section .container p{
  text-align: justify;
}



/*! SECTION ESPECIES DISPONIVEIS */
#especies_section{
  background-color: rgb(101, 116, 86);
  padding: 15px 0;
  background-image: url("../images/especies_bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#especies_section h2{
  color: #ffffff;
  font-family: "Allan";
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#especies_section h2 span{
  line-height: 85px;
  font-size: 90px;
}

.especies_content{
  display: flex;
  gap: 15px;
}

.cards_especies{
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding: 15px 20px;
  max-width: 370px;
  width: 100%;
  gap: 15px;
  transition: 300ms ease-in-out;
}

.cards_especies:hover{
  scale: 1.02;
  transition: 300ms ease-in-out;
}

.cards_especies img{
  width: 70%;
}

.cards_especies h3{
  font-family: "Bungee inline";
  font-size: 2.2rem;
  font-weight: bold;
  text-align: justify ;
  color: #521C4D;
}

#especies_section a{
  font-family: "Bungee inline";
  color: #521C4D;
  display: block;
  width: fit-content;
  background-color: #fefefe;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 15px auto;
}

#especies_section a:hover{
  color: #340E30;
}

/*team section end*/

/*-------ARVOROMETRO E MAPA--------*/
#arvorometro_section{
  position: relative;
  background-image: url("../images/fundo_teste.png");
  min-height: 90vh;
  display: flex;
  align-items:center ;
}

#arvorometro_section .container-fluid .sheets_decoration{
  max-width: 300px;
  max-height: 300px;
  position: absolute;
}

#arvorometro_section .container-fluid h3, #arvorometro_section .container-fluid .arvorometro_content{
  z-index: 1;
  position: relative;
}

#arvorometro_section .container-fluid .folha_bg01{
  top: 5%;
  left: -4%;
  width: 500px;
  height: auto;
  transform: scaleX(-1);
} 

#arvorometro_section .container-fluid .folha_bg02{
  bottom: 10px;
  right: -0.9%;
  width: 500px;
  height: auto;
  transform: scaleX(-1);
}

#arvorometro_section h3{
  font-family: "Allan";
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color: #611059;
  padding: 30px 20px;
}

#arvorometro_section .arvorometro_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.mapouter {
  position: relative;
  height: 500px;
  width: 500px;
  background: #fff;
}

.maprouter a {
  color: #fff !important;
  position: absolute !important;
  top: 0 !important;
  z-index: 0 !important;
}

.gmap_canvas {
  overflow: hidden;
  max-width: 800px;
  height: 500px;
  width: 100%;
}

.gmap_canvas iframe {
  border-radius: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 500px;
}

#arvorometro_section .text_content{
  font-family: "Bungee inline";
  font-weight: bold;
  color: #521C4D;
  text-align: center;
  font-size: 30px;
}

#arvorometro_section .text_content .arvorometro_count{
  border-radius: 20px;
  font-size: 75px;
  font-weight: bold;
  color:#fff;
  background-color: #611059;
  padding: 5px 30px;
}

/*--------------FIM----------------*/


/* -----------RODAPE SECTION----------------*/
#rodape_section{
  background-image: url("../images/fundo_teste.png");
  backdrop-filter: grayscale(100%);
  background-color: #611059;
  padding: 30px 0;
}

#rodape_section h3{
  font-family: "Allan";
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding: 20px 15px;
  color: #fff;
}

#rodape_section h3 span{
  font-size: 80px;
}

.realizacao_content h4{
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 30px 0;
}

.realizacao_card{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.realizacao_card img{
  width: 300px;
  height: auto;
  padding-bottom: 40px;
}

#rodape_section .apoio_content h4{
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 30px 0px;
}
 
.apoio_content_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apoio_content{
  justify-content: space-between;
  padding-bottom: 20px;
}

.apoio_content img{
  width: 300px;
  height: auto;
}

/* botão "Voltar ao Topo" */

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
